In [19]:
import pandas as pd
import numpy as np
import csv

In [20]:
datacate = pd.read_csv('datacsv/categoriesphone.csv')
datacate = pd.DataFrame(datacate)
datacate

,phone,price,double_num,category
0,990151632,129,"99,90,01,15,51,16,63,32,","ความมั่นคง,ชีวิตอุปสรรค,ความเครียด,ปัญหาด้านสุ..."
1,912760540,10700,"91,12,27,76,60,05,54,40,","การงาน,ประมาท,ความเครียด,ชีวิตอุปสรรค,มีปัญหาด..."
2,991690006,1200,"99,91,16,69,90,00,00,06,","ความมั่นคง,การงาน,การเรียน,การเงิน,ชีวิตอุปสรร..."
3,910208729,249,"91,10,02,20,08,87,72,29,","การงาน,ประมาท,ชีวิตอุปสรรค,มีปัญหาด้านการเงิน,..."
4,912594461,11000,"91,12,25,59,94,44,46,61,","การงาน,ประมาท,ความเครียด,การเงิน,ความรัก,การเร..."
...,...,...,...,...
995,991277915,2199,"99,91,12,27,77,79,91,15,","ความมั่นคง,การงาน,ประมาท,ความเครียด,ชีวิตอุปสร..."
996,9914979007,999,"91,14,49,97,79,90,00,07,","การงาน,การเงิน,การเรียน,ชีวิตอุปสรรค,ความเครีย..."
997,910950500,4989,"91,10,09,95,50,05,50,00,","การงาน,ประมาท,ชีวิตอุปสรรค,ความเครียด,ปัญหาด้า..."
998,991249206,800,"99,91,12,24,49,92,20,06,","ความมั่นคง,การงาน,ประมาท,ความเครียด,ความรัก,มี..."
999,911241442,2601,"91,11,12,24,41,14,44,42,","การงาน,ประมาท,ชีวิตอุปสรรค,ความเครียด,ความรัก,..."

In [23]:
listcategory = []
newcategory = []
for txt in datacate["category"]:
    category = txt[:len(txt) - 1].split(",")
    newcategory.append(category)
    for che in category:
        listcategory.append(che)
set_category, num_category = np.unique(listcategory, return_counts=True)
print(set_category)
print(num_category)

['การงาน' 'การเงิน' 'การเรียน' 'ความมั่นคง' 'ความรัก' 'ความเครียด'
 'ชีวิตอุปสรรค' 'ประมาท' 'ปัญหาด้านความรัก' 'ปัญหาด้านสุขภาพ'
 'มีปัญหาด้านการเงิน']
[965 529 501 344 437 732 775 704 483 452 688]

In [24]:
datacate["category"] = newcategory
datacate

,phone,price,double_num,category
0,990151632,129,"99,90,01,15,51,16,63,32,","[ความมั่นคง, ชีวิตอุปสรรค, ความเครียด, ปัญหาด้..."
1,912760540,10700,"91,12,27,76,60,05,54,40,","[การงาน, ประมาท, ความเครียด, ชีวิตอุปสรรค, มีป..."
2,991690006,1200,"99,91,16,69,90,00,00,06,","[ความมั่นคง, การงาน, การเรียน, การเงิน, ชีวิตอ..."
3,910208729,249,"91,10,02,20,08,87,72,29,","[การงาน, ประมาท, ชีวิตอุปสรรค, มีปัญหาด้านการเ..."
4,912594461,11000,"91,12,25,59,94,44,46,61,","[การงาน, ประมาท, ความเครียด, การเงิน, ความรัก,..."
...,...,...,...,...
995,991277915,2199,"99,91,12,27,77,79,91,15,","[ความมั่นคง, การงาน, ประมาท, ความเครียด, ชีวิต..."
996,9914979007,999,"91,14,49,97,79,90,00,07,","[การงาน, การเงิน, การเรียน, ชีวิตอุปสรรค, ความ..."
997,910950500,4989,"91,10,09,95,50,05,50,00,","[การงาน, ประมาท, ชีวิตอุปสรรค, ความเครียด, ปัญ..."
998,991249206,800,"99,91,12,24,49,92,20,06,","[ความมั่นคง, การงาน, ประมาท, ความเครียด, ความร..."
999,911241442,2601,"91,11,12,24,41,14,44,42,","[การงาน, ประมาท, ชีวิตอุปสรรค, ความเครียด, ควา..."

In [30]:
price_category = [0] * len(set_category)
data = datacate.shape
for num in range(data[0]):
    asix = 0
    for che in set_category:
        if che in datacate["category"][num]:
            price_category[asix] += int(datacate["price"][num])
        asix += 1
print(set_category)
print(price_category)

['การงาน' 'การเงิน' 'การเรียน' 'ความมั่นคง' 'ความรัก' 'ความเครียด'
 'ชีวิตอุปสรรค' 'ประมาท' 'ปัญหาด้านความรัก' 'ปัญหาด้านสุขภาพ'
 'มีปัญหาด้านการเงิน']
[7208805, 3780331, 2745280, 504128, 3277852, 6833091, 5216627, 6624180, 2948211, 2391498, 4342794]

In [31]:
listdouble = []
newdouble = []
for txt in datacate["double_num"]:
    double = txt[:len(txt) - 1].split(",")
    newdouble.append(double)
    for che in double:
        listdouble.append(che)
set_double, num_double = np.unique(listdouble, return_counts=True)
print(set_double)
print(num_double)

['00' '01' '02' '03' '04' '05' '06' '07' '08' '09' '10' '11' '12' '13'
 '14' '15' '16' '17' '18' '19' '20' '21' '22' '23' '24' '25' '26' '27'
 '28' '29' '30' '31' '32' '33' '34' '35' '36' '37' '38' '39' '40' '41'
 '42' '43' '44' '45' '46' '47' '48' '49' '50' '51' '52' '53' '54' '55'
 '56' '57' '58' '59' '60' '61' '62' '63' '64' '65' '66' '67' '68' '69'
 '70' '71' '72' '73' '74' '75' '76' '77' '78' '79' '80' '81' '82' '83'
 '84' '85' '86' '87' '88' '89' '90' '91' '92' '93' '94' '95' '96' '97'
 '98' '99']
[113 105  62  66  70  42  65  75  52  79 109 133 355  93  63 113 164  79
  74 292 116  82  46  58  86  57  91  57  90  86  80  41  52  58  56  65
  54  54  38  58  60  46  56  57  68  45  53  45  45  56  61  67  40  54
  42  49  50  52  38  48  78  46  51  66  75  46  87  54  52  48  55  51
  38  48  50  46  47  43  40  42  54  30  38  47  38  45  34  55  43  45
 136 934 120  96  85  92  59  50  56 319]

In [32]:
datacate["double_num"] = newdouble
datacate

,phone,price,double_num,category
0,990151632,129,"[99, 90, 01, 15, 51, 16, 63, 32]","[ความมั่นคง, ชีวิตอุปสรรค, ความเครียด, ปัญหาด้..."
1,912760540,10700,"[91, 12, 27, 76, 60, 05, 54, 40]","[การงาน, ประมาท, ความเครียด, ชีวิตอุปสรรค, มีป..."
2,991690006,1200,"[99, 91, 16, 69, 90, 00, 00, 06]","[ความมั่นคง, การงาน, การเรียน, การเงิน, ชีวิตอ..."
3,910208729,249,"[91, 10, 02, 20, 08, 87, 72, 29]","[การงาน, ประมาท, ชีวิตอุปสรรค, มีปัญหาด้านการเ..."
4,912594461,11000,"[91, 12, 25, 59, 94, 44, 46, 61]","[การงาน, ประมาท, ความเครียด, การเงิน, ความรัก,..."
...,...,...,...,...
995,991277915,2199,"[99, 91, 12, 27, 77, 79, 91, 15]","[ความมั่นคง, การงาน, ประมาท, ความเครียด, ชีวิต..."
996,9914979007,999,"[91, 14, 49, 97, 79, 90, 00, 07]","[การงาน, การเงิน, การเรียน, ชีวิตอุปสรรค, ความ..."
997,910950500,4989,"[91, 10, 09, 95, 50, 05, 50, 00]","[การงาน, ประมาท, ชีวิตอุปสรรค, ความเครียด, ปัญ..."
998,991249206,800,"[99, 91, 12, 24, 49, 92, 20, 06]","[ความมั่นคง, การงาน, ประมาท, ความเครียด, ความร..."
999,911241442,2601,"[91, 11, 12, 24, 41, 14, 44, 42]","[การงาน, ประมาท, ชีวิตอุปสรรค, ความเครียด, ควา..."

In [34]:
price_double = [0] * len(set_double)
data = datacate.shape
for num in range(data[0]):
    asix = 0
    for che in set_double:
        if che in datacate["double_num"][num]:
            price_double[asix] += int(datacate["price"][num])
        asix += 1
print(set_double)
print(price_double)

['00' '01' '02' '03' '04' '05' '06' '07' '08' '09' '10' '11' '12' '13'
 '14' '15' '16' '17' '18' '19' '20' '21' '22' '23' '24' '25' '26' '27'
 '28' '29' '30' '31' '32' '33' '34' '35' '36' '37' '38' '39' '40' '41'
 '42' '43' '44' '45' '46' '47' '48' '49' '50' '51' '52' '53' '54' '55'
 '56' '57' '58' '59' '60' '61' '62' '63' '64' '65' '66' '67' '68' '69'
 '70' '71' '72' '73' '74' '75' '76' '77' '78' '79' '80' '81' '82' '83'
 '84' '85' '86' '87' '88' '89' '90' '91' '92' '93' '94' '95' '96' '97'
 '98' '99']
[831250, 806876, 337780, 253174, 517517, 123506, 265286, 318200, 287750, 519723, 629180, 1164774, 5955072, 285836, 341495, 685095, 649431, 875962, 427836, 1107952, 1329114, 2408033, 1023481, 1042625, 370927, 397311, 626186, 414307, 715175, 863635, 642624, 173382, 462015, 288021, 223828, 176282, 118059, 293029, 111380, 227328, 376198, 212007, 304882, 200191, 236246, 282865, 345637, 268464, 118074, 295704, 376196, 224376, 212433, 179474, 280121, 644885, 190382, 527353, 269602, 221046, 445821, 212105, 99983, 83760, 493620, 236992, 402972, 418116, 224066, 401090, 233604, 825280, 171000, 194760, 189866, 250749, 353510, 219268, 357497, 364495, 251777, 216572, 267634, 192502, 177942, 110286, 199941, 373611, 126874, 145202, 443108, 7100896, 143908, 339880, 226886, 856003, 278787, 283641, 120029, 390617]

In [37]:
with open('datacsv/counts_category.csv', mode='w', encoding="utf-8") as csv_file:
    fieldnames = ['category', 'counts', 'price']
    writer = csv.DictWriter(csv_file, fieldnames=fieldnames)
    writer.writeheader()
    for num in range(len(set_category)):
        writer.writerow({'category': set_category[num], 'counts': num_category[num], 'price': price_category[num]})

In [38]:
with open('datacsv/counts_double.csv', mode='w') as csv_file:
    fieldnames = ['double', 'counts', 'price']
    writer = csv.DictWriter(csv_file, fieldnames=fieldnames)
    writer.writeheader()
    for num in range(len(set_double)):
        writer.writerow({'double': set_double[num], 'counts': num_double[num], 'price': price_double[num]})